  <footer>
  	<hr />
    <div class="container" style="background-color: #aa8c75">
      <small>Ressie 2015&nbsp;&nbsp; | &nbsp;&nbsp;Jen Diamond - Kirk Chu - Kenny Lee - Thomas Lo</small>
    </div>
  </footer>
